body {
  font-family: 'Arial', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* .study-header {
  background: var(--background-color);
  color: var(--text-color);
  padding: 1rem;
  text-align: center;
} */

.study-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flashcard-container {
  perspective: 1000px;

}

.flashcard {
  position: relative;
  width: 300px;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  transition: transform 1s;
  transform-style: preserve-3d;
  margin-bottom:20px
}

.flashcard-container:hover .flashcard {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front-side,
.back-side {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--background-color);
  color: var(--text-color);
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  backface-visibility: hidden;
  
  padding: 20px 20px 20px 20px;
}
.front-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-side {
  background: var(--background-color);
  color: var(--text-color);
  overflow: auto;
  transform: rotateY(180deg);
}

.navigation {
  margin-top: 20px;
}

.nav-button {
  background: var(--button-color);
  color: var(--text-color);
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background: var(--button-hover-color);
  color: var(--text-color);
}

/* .study-footer {
  background: var(--background-color);
  color: var(--text-color);
  text-align: center;
  padding: 1rem;
  margin-top: auto;
} */