#flashcard-container {
    text-align: center;
    margin-top: 50px;
}

.card-side {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 300px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    margin: 0 auto;
}

#navigation {
    text-align: center;
    margin-top: 20px;
}

#navigation button {
    padding: 10px 20px;
    margin: 0 10px;
}