.topic-selection h2 {
    display: inline-block;
}

.topic-selection button {
    display: inline-block;
}

#progress-wheel .path {
    stroke: #3498db; /* Blue */
    stroke-linecap: round;
    /* animation: spin 2s linear infinite, draw 1.5s ease-in-out infinite; */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes draw {
    0% { stroke-dasharray: 1, 150; stroke-dashoffset: 0; }
    50% { stroke-dasharray: 90, 150; stroke-dashoffset: -35; }
    100% { stroke-dasharray: 90, 150; stroke-dashoffset: -124; }
}
.flashcard {
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 10px;
}

.question {
    font-weight: bold;
}

.answer {
    margin-top: 10px;
}